<pre style="background-color:#fafafa;color:#383a42">
<span style="color:#a0a1a7;font-style:italic;">/**</span>
<span style="color:#a0a1a7;font-style:italic;"> * </span><span style="color:#50a14f;font-style:italic;">SPDX-FileCopyrightText:</span><span style="color:#a0a1a7;font-style:italic;"> 2020 Christoph Cullmann </span><span style="color:#a626a4;font-weight:bold;">&lt;cullmann@kde.org&gt;</span>
<span style="color:#a0a1a7;font-style:italic;"> * </span><span style="color:#50a14f;font-style:italic;">SPDX-License-Identifier:</span><span style="color:#50a14f;font-style:italic;"> </span><span style="color:#50a14f;font-style:italic;">MIT</span>
<span style="color:#a0a1a7;font-style:italic;"> */</span>

<span style="color:#a0a1a7;font-style:italic;">// </span><span style="color:#2980b9;background-color:#153042;">BEGIN</span>
<span style="color:#a626a4;">#include </span><span style="color:#50a14f;">&lt;string&gt;</span>
<span style="color:#a626a4;">#include </span><span style="color:#50a14f;">&lt;QString&gt;</span>
<span style="color:#a0a1a7;font-style:italic;">// </span><span style="color:#2980b9;background-color:#153042;">END</span>

<span style="color:#a0a1a7;font-style:italic;">/**</span>
<span style="color:#a0a1a7;font-style:italic;"> * </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold;">TODO</span><span style="color:#a0a1a7;font-style:italic;">: improve documentation</span>
<span style="color:#a0a1a7;font-style:italic;"> * </span><span style="color:#50a14f;font-weight:bold;">@param</span><span style="color:#a0a1a7;font-style:italic;"> </span><span style="color:#e45649;font-weight:bold;">magicArgument</span><span style="color:#a0a1a7;font-style:italic;"> some magic argument</span>
<span style="color:#a0a1a7;font-style:italic;"> * </span><span style="color:#50a14f;font-weight:bold;">@return</span><span style="color:#a0a1a7;font-style:italic;"> magic return value</span>
<span style="color:#a0a1a7;font-style:italic;"> */</span>
<span style="color:#a626a4;">int</span> main<span style="color:#a626a4;">(</span><span style="color:#a626a4;">uint64_t</span> magicArgument<span style="color:#a626a4;">)</span>
<span style="color:#a626a4;">{</span>
    <span style="color:#a626a4;">if</span> <span style="color:#a626a4;">(</span>magicArgument <span style="color:#a626a4;">&gt;</span> <span style="color:#986801;">1</span><span style="color:#a626a4;">)</span> <span style="color:#a626a4;">{</span>
        <span style="color:#a626a4;">const</span> <span style="color:#a626a4;">std::string</span><span style="color:#a626a4;"> </span>string <span style="color:#a626a4;">=</span> <span style="color:#50a14f;">&quot;source file: </span><span style="color:#0184bc;">\&quot;</span><span style="color:#50a14f;">&quot;</span> <span style="color:#27ae60;">__FILE__</span> <span style="color:#50a14f;">&quot;</span><span style="color:#0184bc;">\&quot;</span><span style="color:#50a14f;">&quot;</span><span style="color:#a626a4;">;</span>
        <span style="color:#a626a4;">const</span> <span style="color:#4078f2;font-weight:bold;">QString</span> qString<span style="color:#a626a4;">(</span><span style="color:#4078f2;font-weight:bold;">QStringLiteral</span><span style="color:#a626a4;">(</span><span style="color:#50a14f;">&quot;test&quot;</span><span style="color:#a626a4;">))</span><span style="color:#a626a4;">;</span>
        <span style="color:#a626a4;">return</span> <span style="color:#4078f2;">qrand</span><span style="color:#a626a4;">()</span><span style="color:#a626a4;">;</span>
    <span style="color:#a626a4;">}</span>

    <span style="color:#a0a1a7;font-style:italic;">/* </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold;">BUG</span><span style="color:#a0a1a7;font-style:italic;">: bogus integer constant inside next line */</span>
    <span style="color:#a626a4;">const</span> <span style="color:#a626a4;">double</span> g <span style="color:#a626a4;">=</span> <span style="color:#986801;">1.1e12</span> <span style="color:#a626a4;">*</span> <span style="color:#986801;">0b01'01'01'01</span> <span style="color:#a626a4;">-</span> <span style="color:#986801;">43</span><span style="color:#f44747;text-decoration:underline;">a</span> <span style="color:#a626a4;">+</span> <span style="color:#986801;">0x11234</span> <span style="color:#a626a4;">*</span> <span style="color:#986801;">0234</span><span style="color:#a626a4;">ULL</span> <span style="color:#a626a4;">-</span> <span style="color:#50a14f;">'c'</span> <span style="color:#a626a4;">*</span> <span style="color:#986801;">42</span><span style="color:#a626a4;">;</span>
    <span style="color:#a626a4;">return</span> g <span style="color:#a626a4;">&gt;</span> <span style="color:#986801;">1.3</span><span style="color:#a626a4;">f</span><span style="color:#a626a4;">;</span>
<span style="color:#a626a4;">}</span>
</pre>
