<pre style="background-color:#232629;color:#cfcfc2">
<span style="color:#7a7c7d;">/**</span>
<span style="color:#7a7c7d;"> * </span><span style="color:#3f8058;font-style:italic;">SPDX-FileCopyrightText:</span><span style="color:#7a7c7d;"> 2020 Christoph Cullmann </span><span style="font-weight:bold;">&lt;cullmann@kde.org&gt;</span>
<span style="color:#7a7c7d;"> * </span><span style="color:#3f8058;font-style:italic;">SPDX-License-Identifier:</span><span style="color:#3f8058;font-style:italic;"> </span><span style="color:#3f8058;font-style:italic;">MIT</span>
<span style="color:#7a7c7d;"> */</span>

<span style="color:#7a7c7d;">// </span><span style="color:#2980b9;background-color:#153042;">BEGIN</span>
<span style="color:#27ae60;">#include </span><span style="color:#27ae60;">&lt;string&gt;</span>
<span style="color:#27ae60;">#include </span><span style="color:#27ae60;">&lt;QString&gt;</span>
<span style="color:#7a7c7d;">// </span><span style="color:#2980b9;background-color:#153042;">END</span>

<span style="color:#7a7c7d;">/**</span>
<span style="color:#7a7c7d;"> * </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold;">TODO</span><span style="color:#7a7c7d;">: improve documentation</span>
<span style="color:#7a7c7d;"> * </span><span style="color:#3f8058;font-weight:bold;">@param</span><span style="color:#7a7c7d;"> </span><span style="color:#7f8c8d;font-weight:bold;">magicArgument</span><span style="color:#7a7c7d;"> some magic argument</span>
<span style="color:#7a7c7d;"> * </span><span style="color:#3f8058;font-weight:bold;">@return</span><span style="color:#7a7c7d;"> magic return value</span>
<span style="color:#7a7c7d;"> */</span>
<span style="color:#2980b9;">int</span> main<span style="color:#3f8058;">(</span><span style="color:#2980b9;">uint64_t</span> magicArgument<span style="color:#3f8058;">)</span>
<span style="color:#3f8058;">{</span>
    <span style="color:#fdbc4b;font-weight:bold;">if</span> <span style="color:#3f8058;">(</span>magicArgument <span style="color:#3f8058;">&gt;</span> <span style="color:#f67400;">1</span><span style="color:#3f8058;">)</span> <span style="color:#3f8058;">{</span>
        <span style="color:#2980b9;">const</span> <span style="color:#7f8c8d;">std::string</span><span style="color:#3f8058;"> </span>string <span style="color:#3f8058;">=</span> <span style="color:#f44f4f;">&quot;source file: </span><span style="color:#3daee9;">\&quot;</span><span style="color:#f44f4f;">&quot;</span> <span style="color:#27ae60;">__FILE__</span> <span style="color:#f44f4f;">&quot;</span><span style="color:#3daee9;">\&quot;</span><span style="color:#f44f4f;">&quot;</span><span style="color:#3f8058;">;</span>
        <span style="color:#2980b9;">const</span> <span style="color:#0099ff;font-weight:bold;">QString</span> qString<span style="color:#3f8058;">(</span><span style="color:#0099ff;font-weight:bold;">QStringLiteral</span><span style="color:#3f8058;">(</span><span style="color:#f44f4f;">&quot;test&quot;</span><span style="color:#3f8058;">))</span><span style="color:#3f8058;">;</span>
        <span style="color:#fdbc4b;font-weight:bold;">return</span> <span style="color:#8e44ad;">qrand</span><span style="color:#3f8058;">()</span><span style="color:#3f8058;">;</span>
    <span style="color:#3f8058;">}</span>

    <span style="color:#7a7c7d;">/* </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold;">BUG</span><span style="color:#7a7c7d;">: bogus integer constant inside next line */</span>
    <span style="color:#2980b9;">const</span> <span style="color:#2980b9;">double</span> g <span style="color:#3f8058;">=</span> <span style="color:#f67400;">1.1e12</span> <span style="color:#3f8058;">*</span> <span style="color:#f67400;">0b01'01'01'01</span> <span style="color:#3f8058;">-</span> <span style="color:#f67400;">43</span><span style="color:#da4453;text-decoration:underline;">a</span> <span style="color:#3f8058;">+</span> <span style="color:#f67400;">0x11234</span> <span style="color:#3f8058;">*</span> <span style="color:#f67400;">0234</span><span style="color:#7f8c8d;">ULL</span> <span style="color:#3f8058;">-</span> <span style="color:#3daee9;">'c'</span> <span style="color:#3f8058;">*</span> <span style="color:#f67400;">42</span><span style="color:#3f8058;">;</span>
    <span style="color:#fdbc4b;font-weight:bold;">return</span> g <span style="color:#3f8058;">&gt;</span> <span style="color:#f67400;">1.3</span><span style="color:#7f8c8d;">f</span><span style="color:#3f8058;">;</span>
<span style="color:#3f8058;">}</span>
</pre>
