<pre style="background-color:#223333;color:#ddddcc">
<span style="color:#888888;">/**</span>
<span style="color:#888888;"> * </span><span style="color:#aa77aa;font-style:italic;">SPDX-FileCopyrightText:</span><span style="color:#888888;"> 2020 Christoph Cullmann </span><span style="color:#aa77aa;font-weight:bold;">&lt;cullmann@kde.org&gt;</span>
<span style="color:#888888;"> * </span><span style="color:#aa77aa;font-style:italic;">SPDX-License-Identifier:</span><span style="color:#aa77aa;font-style:italic;"> </span><span style="color:#aa77aa;font-style:italic;">MIT</span>
<span style="color:#888888;"> */</span>

<span style="color:#888888;">// </span><span style="color:#7799cc;background-color:#0d1932;">BEGIN</span>
<span style="color:#aa77aa;">#include </span><span style="color:#88ee33;">&lt;string&gt;</span>
<span style="color:#aa77aa;">#include </span><span style="color:#88ee33;">&lt;QString&gt;</span>
<span style="color:#888888;">// </span><span style="color:#7799cc;background-color:#0d1932;">END</span>

<span style="color:#888888;">/**</span>
<span style="color:#888888;"> * </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold;">TODO</span><span style="color:#888888;">: improve documentation</span>
<span style="color:#888888;"> * </span><span style="color:#aa77aa;font-weight:bold;">@param</span><span style="color:#888888;"> </span><span style="color:#aa77aa;font-weight:bold;">magicArgument</span><span style="color:#888888;"> some magic argument</span>
<span style="color:#888888;"> * </span><span style="color:#aa77aa;font-weight:bold;">@return</span><span style="color:#888888;"> magic return value</span>
<span style="color:#888888;"> */</span>
<span style="color:#7799cc;">int</span> main<span style="color:#eedd00;">(</span><span style="color:#7799cc;">uint64_t</span> magicArgument<span style="color:#eedd00;">)</span>
<span style="color:#eedd00;">{</span>
    <span style="color:#eedd00;font-weight:bold;">if</span> <span style="color:#eedd00;">(</span>magicArgument <span style="color:#eedd00;">&gt;</span> <span style="color:#eedd00;">1</span><span style="color:#eedd00;">)</span> <span style="color:#eedd00;">{</span>
        <span style="color:#aa77aa;">const</span> <span style="color:#7799cc;">std::string</span><span style="color:#eedd00;"> </span>string <span style="color:#eedd00;">=</span> &quot;source file: <span style="color:#ffaa33;">\&quot;</span>&quot; <span style="color:#eedd00;">__FILE__</span> &quot;<span style="color:#ffaa33;">\&quot;</span>&quot;<span style="color:#eedd00;">;</span>
        <span style="color:#aa77aa;">const</span> <span style="color:#7799cc;font-weight:bold;">QString</span> qString<span style="color:#eedd00;">(</span><span style="color:#7799cc;font-weight:bold;">QStringLiteral</span><span style="color:#eedd00;">(</span>&quot;test&quot;<span style="color:#eedd00;">))</span><span style="color:#eedd00;">;</span>
        <span style="color:#eedd00;font-weight:bold;">return</span> <span style="color:#7799cc;font-weight:bold;">qrand</span><span style="color:#eedd00;">()</span><span style="color:#eedd00;">;</span>
    <span style="color:#eedd00;">}</span>

    <span style="color:#888888;">/* </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold;">BUG</span><span style="color:#888888;">: bogus integer constant inside next line */</span>
    <span style="color:#aa77aa;">const</span> <span style="color:#7799cc;">double</span> g <span style="color:#eedd00;">=</span> <span style="color:#ffaa33;">1.1e12</span> <span style="color:#eedd00;">*</span> <span style="color:#eedd00;">0b01'01'01'01</span> <span style="color:#eedd00;">-</span> <span style="color:#eedd00;">43</span><span style="color:#ee2222;text-decoration:underline;">a</span> <span style="color:#eedd00;">+</span> <span style="color:#eedd00;">0x11234</span> <span style="color:#eedd00;">*</span> <span style="color:#eedd00;">0234</span><span style="color:#7799cc;">ULL</span> <span style="color:#eedd00;">-</span> <span style="color:#ffaa33;">'c'</span> <span style="color:#eedd00;">*</span> <span style="color:#eedd00;">42</span><span style="color:#eedd00;">;</span>
    <span style="color:#eedd00;font-weight:bold;">return</span> g <span style="color:#eedd00;">&gt;</span> <span style="color:#ffaa33;">1.3</span><span style="color:#7799cc;">f</span><span style="color:#eedd00;">;</span>
<span style="color:#eedd00;">}</span>
</pre>
