<pre style="background-color:#24292e;color:#e1e4e8">
<span style="color:#6a737d;">/**</span>
<span style="color:#6a737d;"> * </span><span style="color:#6a737d;font-style:italic;">SPDX-FileCopyrightText:</span><span style="color:#6a737d;"> 2020 Christoph Cullmann </span><span style="color:#f97583;font-weight:bold;">&lt;cullmann@kde.org&gt;</span>
<span style="color:#6a737d;"> * </span><span style="color:#6a737d;font-style:italic;">SPDX-License-Identifier:</span><span style="color:#6a737d;font-style:italic;"> </span><span style="color:#6a737d;font-style:italic;">MIT</span>
<span style="color:#6a737d;"> */</span>

<span style="color:#6a737d;">// </span><span style="color:#6a737d;">BEGIN</span>
<span style="color:#f97583;">#include </span><span style="color:#9ecbff;">&lt;string&gt;</span>
<span style="color:#f97583;">#include </span><span style="color:#9ecbff;">&lt;QString&gt;</span>
<span style="color:#6a737d;">// </span><span style="color:#6a737d;">END</span>

<span style="color:#6a737d;">/**</span>
<span style="color:#6a737d;"> * </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold;">TODO</span><span style="color:#6a737d;">: improve documentation</span>
<span style="color:#6a737d;"> * </span><span style="color:#6a737d;font-weight:bold;">@param</span><span style="color:#6a737d;"> </span><span style="color:#6a737d;font-weight:bold;">magicArgument</span><span style="color:#6a737d;"> some magic argument</span>
<span style="color:#6a737d;"> * </span><span style="color:#6a737d;font-weight:bold;">@return</span><span style="color:#6a737d;"> magic return value</span>
<span style="color:#6a737d;"> */</span>
<span style="color:#f97583;">int</span> main(<span style="color:#f97583;">uint64_t</span> magicArgument)
{
    <span style="color:#f97583;">if</span> (magicArgument &gt; <span style="color:#79b8ff;">1</span>) {
        <span style="color:#f97583;">const</span> <span style="color:#f97583;">std::string</span> string = <span style="color:#9ecbff;">&quot;source file: </span><span style="color:#79b8ff;">\&quot;</span><span style="color:#9ecbff;">&quot;</span> <span style="color:#b392f0;">__FILE__</span> <span style="color:#9ecbff;">&quot;</span><span style="color:#79b8ff;">\&quot;</span><span style="color:#9ecbff;">&quot;</span>;
        <span style="color:#f97583;">const</span> <span style="color:#f97583;font-weight:bold;">QString</span> qString(<span style="color:#f97583;font-weight:bold;">QStringLiteral</span>(<span style="color:#9ecbff;">&quot;test&quot;</span>));
        <span style="color:#f97583;">return</span> <span style="color:#b392f0;">qrand</span>();
    }

    <span style="color:#6a737d;">/* </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold;">BUG</span><span style="color:#6a737d;">: bogus integer constant inside next line */</span>
    <span style="color:#f97583;">const</span> <span style="color:#f97583;">double</span> g = <span style="color:#79b8ff;">1.1e12</span> * <span style="color:#79b8ff;">0b01'01'01'01</span> - <span style="color:#79b8ff;">43</span><span style="color:#ff5555;text-decoration:underline;">a</span> + <span style="color:#79b8ff;">0x11234</span> * <span style="color:#79b8ff;">0234</span><span style="color:#f97583;">ULL</span> - <span style="color:#9ecbff;">'c'</span> * <span style="color:#79b8ff;">42</span>;
    <span style="color:#f97583;">return</span> g &gt; <span style="color:#79b8ff;">1.3</span><span style="color:#f97583;">f</span>;
}
</pre>
