.get-it {
  display: flex;
  margin-bottom: 40px;
  flex-direction: column;
  .get-it-img {
    width: 100px;
  }
  @media (min-width: 1000px) {
    flex-direction: row;
    .get-it-img {
      height: auto;
      margin: 0;
      margin-right: 50px;
      margin-top: 46px;
    }
  }
}

/* Buttons "Install via Discover" */
.get-it-buttons-container {
  text-align: left;
  padding-left: 48px;
  text-decoration: none;
}
a.get-it-button-link {
  text-decoration: none;
}
.get-it-button-discover {
  display: inline-block;
  height: 66px;
  width: auto;
  margin: 0px 6px 8px 6px;
  padding: 8px 12px 8px 8px;
  background: rgba(38,50,56,1);
  border: 1px solid #78909C;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  box-shadow: 0px 1px 1px 0px rgba(1,1,1,0.5);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(1,1,1,0.5);
  -moz-box-shadow: 0px 1px 1px 0px rgba(1,1,1,0.5);
  transition: .4s;
  -moz-transition: .4s;
  -webkit-transition: .4s;
  -o-transition: .4s;
  -ms-transition: .4s;
}
.get-it-button-discover:hover, .button-discover:focus {
  background: rgba(55,71,79,1);
  border: 1px solid #B0BEC5;
  box-shadow:         0px 1px 4px 0px rgba(1,1,1,0.6);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(1,1,1,0.6);
  -moz-box-shadow:    0px 1px 4px 0px rgba(1,1,1,0.6);
}
img.get-it-button-discover-icon {
  position: absolute;
  width: 48px;
  height: 48px;
  margin-right: 8px;
}
.get-it-button-discover-text-container {
  position: relative;
  height: 48px;
  margin-left: 56px;
  display: flex;
  align-items: center;
}
.get-it-button-discover-text-title {
  font-family: Sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: rgba(255,255,255,1);
}
.get-it-button-discover-title-subtitle {
  font-family: Sans-serif;
  font-size: 14px;
  color: rgba(255,255,255,1);
}
.get-it-button-info {
  font-size: 12px;
  padding: 2px 0px 16px 54px;
  max-width: 700px;
}

/* Buttons with badges */
.get-it-buttons-general-container {
  text-align: left;
  padding-left: 54px;
  padding-bottom: 16px;
  text-decoration: none;
}
a.get-it-button-general-link {
  text-decoration: none;
}

/* Footer text */
#get-it-info {
  font-size: 12px;
  padding-top: 32px
}
