<div class="get-it-buttons-general-container">
  <a href="{{ .Get "link" }}" class="get-it-button-general-link">
    <img src="{{ .Get "img" }}" alt="{{ .Get "alt" }}" style="width: {{ .Get "width" }}px;"/>
  </a>
</div>
{{ .Inner | markdownify }}

<!-- kate: syntax Mustache/Handlebars (HTML); indent-width 2; -->
