{{ with .Page.Params.discoverData }}
<div class="get-it-buttons-container">
  <a href="appstream://org.kde.kate.desktop" alt="{{ .kate.alt }}" class="get-it-button-link">
    <div class="get-it-button-discover">
      <img src="/images/plasmadiscover.png" class="get-it-button-discover-icon"/>
      <div class="get-it-button-discover-text-container">
        <div>
          <div class="get-it-button-discover-text-title">
            {{ .kate.title }}
          </div>
          <div class="get-it-button-discover-title-subtitle">
            {{ .kate.subtitle }}
          </div>
        </div>
      </div>
    </div>
  </a>
  <a href="appstream://org.kde.kwrite.desktop" alt="{{ .kwrite.alt }}" class="get-it-button-link">
    <div class="get-it-button-discover">
      <img src="/images/plasmadiscover.png" class="get-it-button-discover-icon"/>
      <div class="get-it-button-discover-text-container">
        <div>
          <div class="get-it-button-discover-text-title">
            {{ .kwrite.title }}
          </div>
          <div class="get-it-button-discover-title-subtitle">
            {{ .kwrite.subtitle }}
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
{{ end }}
<div class="get-it-button-info">
  {{ .Inner | markdownify }}
</div>
<!-- kate: syntax Mustache/Handlebars (HTML); indent-width 2; -->
